<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TD3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D9B55191E2CF5E500D97C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9B552F1E2CF5E500D97C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4D9B553A1E2CF5E500D97C75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
